<div class="row">
  <div class="col-xs-12">
    <form
      [formGroup]="telefonForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn  btn-success"
            [disabled]="!telefonForm.valid"
          >Kaydet</button>
          <button type="button" class="btn  btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="brand">Markasi</label>
            <input
              type="text"
              id="brand"
              formControlName="brand"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Resim URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <img src="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="series">Seri Tanimi</label>
            <input
              type="text"
              id="series"
              formControlName="series"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ozellik">
          <div
            *ngFor="let ozellikCtrl of telefonForm.get('ozellik').controls let i = index"
            class="row"
            [formGroupName]="i"
          >
            <div class="col-xs-2">
              <input
                type="text"
                class="form-control"
                formControlName="series"
              >
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="Cpu"
              >
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="dpGB"
              >
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="rGB"
              >
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="btry"
              >
            </div>
            <div class="col-xs-2">
              <button
                class="btn btn-danger"
              >X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" (click)="onEkleOzellik()" class="btn btn-success">Ozellik Ekle</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
